<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes Formulario</title>
</head>
<body>
  <form action="/AppVet/ClientesformularioPost/" method= "POST">{% csrf_token %}
    <p>nombre:<input type:"text" name="nombre" placeholder="ingrese su nombre"></p>
    <p>apellido:<input type:"text" name="apellido" placeholder="ingrese su apellido"></p>
    <p>dni:<input type:"text" name="dni" placeholder="ingrese su dni"></p>

    <input type="submit" value="Enviar">
    
</body>
</html>