    {% extends 'AppVet/padre.html' %}

    {% load static %}

    {% block bloquequecambia %}
     
       <h1>Pagina de Inicio</h1>
       <p>Veterinaria Zocca desde 1987</p>
       <p>El Dr Zocca viene con un crecimiento exponencial y gracias a esto  genero una necesisad
          inmediata de crear su Pagina WEB, con este objtetivo en mente es que se acerca a su Hija , 
          Josefina Zocca que comenzaba a estudiar programacion python , y ella decide tomar este proyecto 
          como propio, junto a Fabrizio Tepedino lograron esta web para comenzar a desarollarla y mejorarla
          a lo largo del tiempo. Eventualmente , una vez finalizada, la idea es generar un negocio y 
          ofrecerlo a las demas Veterinarias con la misma necesidad
       </p>

       <img src ="{{avatar.imagen.url}}" alt ="avatar">

       {{mensaje}}
    {% endblock bloquequecambia %}
    